In [41]:
from sklearn.model_selection import KFold
from IPython.display import display
from sklearn.neural_network import MLPClassifier

In [2]:
# Data manipulation
import pandas as pd
import numpy as np


# Splitting data
from sklearn.model_selection import train_test_split

N_FOLDS = 5
MAX_EVALS = 5

         label
count  11562.0
mean       1.0
std        0.0
min        1.0
25%        1.0
50%        1.0
75%        1.0
max        1.0

        label
count  2000.0
mean      0.0
std       0.0
min       0.0
25%       0.0
50%       0.0
75%       0.0
max       0.0

              label
count  13562.000000
mean       0.852529
std        0.354588
min        0.000000
25%        1.000000
50%        1.000000
75%        1.000000
max        1.000000

In [47]:
from scipy import stats
from scipy import spatial
from gensim.models import KeyedVectors

In [55]:
word2vec = KeyedVectors.load_word2vec_format('../word2vec/W2V_150.txt', binary=False)

[-1.096853    0.1238883   1.713642    2.17519    -0.5785002  -2.027245
  0.4998034  -0.7409065  -1.753515   -1.095152    0.7456962   1.484329
  1.235524    1.025137   -0.4033328  -0.9089296  -0.2022127   0.9581299
  0.6957457   1.385916    0.4481485   1.238998    0.1075599   3.29651
  1.315556    0.4587597   2.277924   -1.313732    0.9624746  -0.2428055
 -0.9468833   0.8783497   0.3211554  -0.5890836   0.9027938  -1.178614
 -0.7399899  -1.011717    1.766519   -2.162154    0.9139196  -2.295288
 -1.206698   -2.222441   -1.830276   -0.4457759   1.122905    0.3227312
 -0.03411892 -0.7967375   0.1875879   0.3892174  -0.7192345  -0.5432259
 -0.6546717  -0.7268866   0.5100322   0.9201084   0.2751797   1.194452
  0.5092697  -0.3654743  -1.434594   -1.484043    1.105507    0.02227577
 -1.812047   -1.204937   -3.369251    0.6383803   0.1732161  -0.478294
 -0.5762202   0.1084443  -0.1128882   0.647718   -0.3459211   0.5320156
  0.239954   -2.538636   -0.7471865   1.441165    0.02344817 -0.9431902
 -0.9290502  -0.2563902  -0.8693917   1.940851   -1.530682    1.957523
 -1.530546   -1.511787    0.5474366  -0.2089409  -0.5234768  -0.1799996
  1.064863   -2.664884    1.670628   -0.7478617  -0.6575535   1.213943
 -1.086641    1.377323   -0.9010333   1.781551    0.4546468  -1.298439
  0.2457125   0.4182538   0.2963082  -0.05746119  0.2854225   0.1097825
 -0.755602    0.2591492  -2.905032   -0.7736527  -0.2705938   0.2874171
 -0.1069631  -1.167078   -0.4655133  -0.3728538  -0.3859335   0.6315737
  2.311122   -1.012877   -0.9993168   0.7229702  -0.8519905   0.5989301
  0.6769742  -0.7808703   0.5864074   1.452547    1.311003    1.494834
 -1.308893    0.2967516  -0.4395638   0.3661912  -0.3197052  -0.04039996
  0.610873   -0.8620048   0.3080688   0.6861165   1.05927    -0.06506026]

In [70]:
print(word2vec['a_dua'])
import random
print(np.random.randn(150))

[-1.096853    0.1238883   1.713642    2.17519    -0.5785002  -2.027245
  0.4998034  -0.7409065  -1.753515   -1.095152    0.7456962   1.484329
  1.235524    1.025137   -0.4033328  -0.9089296  -0.2022127   0.9581299
  0.6957457   1.385916    0.4481485   1.238998    0.1075599   3.29651
  1.315556    0.4587597   2.277924   -1.313732    0.9624746  -0.2428055
 -0.9468833   0.8783497   0.3211554  -0.5890836   0.9027938  -1.178614
 -0.7399899  -1.011717    1.766519   -2.162154    0.9139196  -2.295288
 -1.206698   -2.222441   -1.830276   -0.4457759   1.122905    0.3227312
 -0.03411892 -0.7967375   0.1875879   0.3892174  -0.7192345  -0.5432259
 -0.6546717  -0.7268866   0.5100322   0.9201084   0.2751797   1.194452
  0.5092697  -0.3654743  -1.434594   -1.484043    1.105507    0.02227577
 -1.812047   -1.204937   -3.369251    0.6383803   0.1732161  -0.478294
 -0.5762202   0.1084443  -0.1128882   0.647718   -0.3459211   0.5320156
  0.239954   -2.538636   -0.7471865   1.441165    0.02344817 -0.9431902
 -0.9290502  -0.2563902  -0.8693917   1.940851   -1.530682    1.957523
 -1.530546   -1.511787    0.5474366  -0.2089409  -0.5234768  -0.1799996
  1.064863   -2.664884    1.670628   -0.7478617  -0.6575535   1.213943
 -1.086641    1.377323   -0.9010333   1.781551    0.4546468  -1.298439
  0.2457125   0.4182538   0.2963082  -0.05746119  0.2854225   0.1097825
 -0.755602    0.2591492  -2.905032   -0.7736527  -0.2705938   0.2874171
 -0.1069631  -1.167078   -0.4655133  -0.3728538  -0.3859335   0.6315737
  2.311122   -1.012877   -0.9993168   0.7229702  -0.8519905   0.5989301
  0.6769742  -0.7808703   0.5864074   1.452547    1.311003    1.494834
 -1.308893    0.2967516  -0.4395638   0.3661912  -0.3197052  -0.04039996
  0.610873   -0.8620048   0.3080688   0.6861165   1.05927    -0.06506026]
[ 0.6470132   0.06825493  1.38072145 -0.73165121 -1.71915685  1.40573278
  0.79903826  0.6062677  -0.53286291  1.04770927 -0.32861304  0.41573969
  0.7196969  -0.14313312 -0.21099947  0.23816295 -0.03653267 -0.36570726
 -1.56174813  1.97215598  1.85936915  1.73711257  0.99348971  1.35192222
  0.66560862 -1.14649623 -0.1959002   0.10251986 -1.19658566  0.7848319
 -1.46395891  1.25046434  0.6439667   0.64184817  0.17175992  0.74550831
  0.00741003 -0.64428826 -1.02616622  0.77647606  0.06995214  1.49103842
  0.74542535 -0.7530697   1.30595762 -0.54474283 -0.27336442  0.18249145
  0.29109433  1.36374171  2.34858566 -2.19999026 -0.03966487  0.06894176
  0.20625592  2.0737086  -0.8174551  -2.29138905 -0.45380624 -0.15893621
 -0.56059198 -1.46732831  0.54811506 -1.18003318  0.33608248  0.18627287
  0.88912188 -1.48600885 -1.11140191  0.66400682 -0.13214498 -1.2551361
 -0.08037143 -0.05013678  0.22146566  0.78929864  0.03682433  1.25371752
 -0.11676677 -0.66323465 -0.73209513 -0.68414011  0.80341784 -0.6509097
 -1.05467353  0.7505856   1.66020562 -0.20723628 -1.26230588  0.41775932
  0.084305   -1.48911594  2.58760138  0.83837008  1.04394304  0.16922549
 -0.09607515 -0.16948318  1.46908384 -0.1282388   0.42268992 -0.4324239
  0.60640302 -0.30650784 -0.35065301  0.66616607 -0.45746987  0.50475268
  1.38746098 -3.197642    1.31427423 -1.6733015  -0.55243978  1.06225661
 -1.58039207 -0.94776556 -0.9077015   1.48607004 -1.29068232 -0.8478384
 -0.17044836 -0.71592726  0.41025257  1.57247875 -0.88491351  1.44565099
  0.4921028  -1.20349969  0.61929831  1.39004227 -1.32878425  0.90897613
  0.1907638  -0.22846128  0.10208674 -1.83237578  0.13079756 -0.31509817
 -0.43449462  0.51668125 -2.83266841  2.32145522 -1.80659257 -1.34134317
  0.48579672  0.13861973 -1.05576012  0.41756572  0.4472419   0.35503582]

In [373]:
def get_emb(s):
    if s in word2vec:
        return word2vec[s]
    else:
        # print("not found ", s)
        return np.random.randn(150)

In [358]:
# load test data
p1 = pd.read_table("../datasets/ViCon-400/400_noun_pairs.txt", sep="\t")
p2 = pd.read_table("../datasets/ViCon-400/400_verb_pairs.txt", sep="\t")
p3 = pd.read_table("../datasets/ViCon-400/600_adj_pairs.txt", sep="\t")

test_data = pd.concat([p1, p2, p3])

test_data['label'] = test_data.apply(lambda row: 1 if row['Relation'] == 'ANT' else 0, axis=1)
test_data = test_data.reset_index().drop(columns = ['Relation', 'index'])
display(test_data)
test_features = test_data.copy()

test_features['first_emb'] = test_features.apply(lambda row: get_emb(row['Word1']), axis=1)
test_features['second_emb'] = test_features.apply(lambda row: get_emb(row['Word2']), axis=1)

test_features = test_features[test_features['first_emb'] != "missing"]
test_features = test_features[test_features['second_emb'] != "missing"]

test_features['cos'] = test_features.apply(lambda row: 1 - spatial.distance.cosine(row['first_emb'], row['second_emb']), axis=1)
# test_features['norm_of_diff'] = test_features.apply(lambda row: np.linalg.norm(row['first_emb'] - row['second_emb']), axis=1)
X_test = test_features.drop(columns = ['Word1', 'Word2', 'first_emb', 'second_emb', 'label'])
y_test = np.array(test_features['label'].astype(np.int32)).reshape((-1, ))
X_test

           Word1      Word2  label
0      khoái_lạc    nỗi_đau      1
1        yếu_kém   sức_mạnh      1
2     thanh_danh     ô_nhục      1
3            dây        dọc      0
4        bằng_cớ   chứng_cớ      0
...          ...        ...    ...
1395       ấm_áp   lạnh_lẽo      1
1396         mập      ngẳng      1
1397       chóng        lâu      1
1398        chậm        sớm      1
1399    ngăn_nắp  lung_tung      1

[1400 rows x 3 columns]

/home/huynd107/.local/lib/python3.8/site-packages/pandas/core/ops/array_ops.py:55: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = libops.scalar_compare(x.ravel(), y, op)

           cos
0     0.245766
1     0.171372
2     0.088986
3     0.141662
4    -0.037297
...        ...
1395  0.629572
1396 -0.064822
1397  0.075829
1398  0.415295
1399  0.306918

[1400 rows x 1 columns]

In [377]:

# load train data and remove leakage data 

anto = pd.read_table("../antonym-synonym set/Antonym_vietnamese.txt", sep=" ", header=None)
syn = pd.read_table("../antonym-synonym set/Synonym_vietnamese.txt", sep=" ", header=None)
display(anto.tail())
display(syn.tail())
anto["label"] = 1
syn["label"] = 0
data = pd.concat([syn, anto])
data.columns = ["first", "second", "label"]

data = data[~data.set_index(['first','second']).index.isin(test_features.set_index(['Word1','Word2']).index)].reset_index().drop(columns="index")

features = data.copy()
features['first_emb'] = features.apply(lambda row: get_emb(row['first']), axis=1)
features['second_emb'] = features.apply(lambda row: get_emb(row['second']), axis=1)

# features = features[features['first_emb'] != "missing"]
# features = features[features['second_emb'] != "missing"]

display(features)

features['cos'] = features.apply(lambda row: 1 - spatial.distance.cosine(row['first_emb'], row['second_emb']), axis=1)
# features['norm_of_diff'] = features.apply(lambda row: np.linalg.norm(row['first_emb'] - row['second_emb']), axis=1)
X = features.drop(columns = ['first', 'second', 'first_emb', 'second_emb', 'label'])
y = np.array(features['label'].astype(np.int32)).reshape((-1, ))

display(X)

             0          1
1995  bẩn_thỉu    sạch_sẽ
1996       bận       rảnh
1997       bận  rảnh_rang
1998       bận   rảnh_rỗi
1999       bận        rỗi

                0           1
11557     yêu_mến     mến_yêu
11558     yêu_quí     yêu_quý
11559  yêu_thương  thương_yêu
11560      yếu_tố   nguyên_tố
11561      yếu_tố     nhân_tố

,first,second,label,first_emb,second_emb
0,a_dua,a_tòng,0,"[-1.096853, 0.1238883, 1.713642, 2.17519, -0.5...","[1.176190348134205, -1.7610283174880996, -0.61..."
1,a_dua,vào_hùa,0,"[-1.096853, 0.1238883, 1.713642, 2.17519, -0.5...","[-0.1686348, 0.5090736, -0.06419589, 0.2851182..."
2,a_ma_tơ,tài_tử,0,"[0.9762199038533687, 0.7307656653983846, -1.22...","[-0.8984336, 0.04499664, -1.577926, -1.10538, ..."
3,a_tòng,vào_hùa,0,"[-0.8629046732198264, -0.9532458927819243, -1....","[-0.1686348, 0.5090736, -0.06419589, 0.2851182..."
4,à_ơi,ạ_ơi,0,"[1.133512, 0.4620706, -0.5596249, 1.021484, 0....","[1.4831072665217897, 0.2644828242321529, 0.493..."
...,...,...,...,...,...
11599,báo_ân,báo_thù,1,"[0.4099637, 0.02193844, -0.5297902, 0.2062404,...","[-0.8177037, 0.4749404, -1.174358, -0.679406, ..."
11600,bần_tiện,hào_phóng,1,"[0.14756391462524146, 0.13503966637670511, -1....","[1.40416, 2.75442, 0.2111574, 0.9635316, 1.135..."
11601,bận,rảnh,1,"[0.3057049, 3.127424, -1.285929, 0.6471007, -0...","[0.0487476, 1.200912, 0.1983149, -1.580838, 0...."
11602,bận,rảnh_rỗi,1,"[0.3057049, 3.127424, -1.285929, 0.6471007, -0...","[0.2521331, 0.4609424, -1.257721, -0.9162588, ..."
11603,bận,rỗi,1,"[0.3057049, 3.127424, -1.285929, 0.6471007, -0...","[-0.2275068, 1.843078, 1.557261, 0.2073326, -0..."

            cos
0     -0.098516
1      0.288864
2      0.062887
3     -0.172195
4      0.073996
...         ...
11599  0.044962
11600  0.085901
11601  0.471292
11602  0.479427
11603  0.440044

[11604 rows x 1 columns]

In [368]:
from sklearn.linear_model import *
from sklearn.model_selection import KFold, StratifiedKFold, cross_val_score
kf = KFold(n_splits=5, shuffle=True)

cnt = 1
clf = MLPClassifier(hidden_layer_sizes=(2, 1), 
                                       solver='adam', 
                                       learning_rate='invscaling', 
                                       learning_rate_init=0.2,
                                      max_iter=1000)
                
clf = LogisticRegression(class_weight="balanced")
result = list()
for train_index, test_index in kf.split(X, y):
    print(f'Fold:{cnt}, Train set: {len(train_index)}, Test set:{len(test_index)}')
    
    clf.fit(X.iloc[train_index], y[train_index])
    # print(clf.predict(X.iloc[test_index]))
    result.append(f1_score(clf.predict(X.iloc[test_index]), y[test_index]))
    cnt += 1


print("average F1-score: ", np.asarray(result).mean())

Fold:1, Train set: 2094, Test set:524
Fold:2, Train set: 2094, Test set:524
Fold:3, Train set: 2094, Test set:524
Fold:4, Train set: 2095, Test set:523
Fold:5, Train set: 2095, Test set:523
average F1-score:  0.4137473266810113

In [339]:
from sklearn.metrics import f1_score
from sklearn.svm import SVC
clf = MLPClassifier(hidden_layer_sizes=(2, 1), 
                                       solver='adam', 
                                       learning_rate='invscaling', 
                                       learning_rate_init=0.1,
                                       max_iter=1000,
                                       shuffle=True)
clf.fit(X, y)
print(f1_score(clf.predict(X), y))

0.9676156583629892

In [369]:
display(X_test)
np.set_printoptions(threshold=10000000)

print(y_test)
print(clf.predict(X_test))
print(f1_score(clf.predict(X_test), y_test))

           cos
0     0.245766
1     0.171372
2     0.088986
3     0.141662
4    -0.037297
...        ...
1395  0.629572
1396 -0.064822
1397  0.075829
1398  0.415295
1399  0.306918

[1400 rows x 1 columns]

[1 1 1 0 0 1 1 0 0 1 1 0 1 0 0 1 1 1 1 1 1 1 0 0 1 1 1 1 0 1 0 1 0 0 0 1 0
 1 1 0 1 1 1 0 0 1 1 1 1 1 0 0 1 0 1 1 0 0 0 1 0 1 1 1 1 0 0 1 1 1 1 0 0 0
 0 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 1 1 0 1 0 0 0 1 0 0 1 1 1 0 1 0 1 0 0 1
 0 1 1 1 1 0 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 0 0 1 1 1 1 0 0 0
 1 0 1 0 1 1 1 0 1 1 0 0 1 0 1 0 1 0 0 0 1 1 1 1 0 1 0 1 1 1 1 0 1 0 1 0 1
 0 1 1 0 1 1 0 1 0 1 0 1 0 1 1 1 0 1 0 1 1 0 1 0 0 1 0 0 0 1 1 0 0 1 0 1 0
 0 1 1 0 1 0 1 0 0 1 1 0 1 1 0 0 1 0 0 0 1 0 0 0 1 1 1 0 1 1 0 1 1 0 1 0 1
 0 1 1 1 0 1 0 1 0 0 1 1 0 1 1 1 0 1 1 0 1 0 0 1 1 0 0 0 1 1 0 1 0 0 1 1 1
 0 1 0 0 1 0 1 0 1 0 1 0 0 1 0 0 0 0 1 1 0 0 0 0 1 0 1 0 0 0 0 1 0 1 0 1 1
 0 1 1 0 1 0 0 0 1 0 0 0 0 1 0 1 0 0 0 1 0 0 1 1 1 0 1 0 0 1 1 0 1 1 0 0 1
 1 1 0 0 1 1 0 0 0 0 1 0 0 0 0 0 1 1 1 0 0 1 1 0 0 0 0 1 0 1 1 0 0 0 0 1 1
 0 0 0 1 0 0 1 1 0 0 0 0 0 0 1 0 0 1 1 1 0 0 0 0 1 1 1 0 1 1 0 0 0 1 1 0 1
 1 0 0 1 1 0 0 0 0 1 1 1 1 1 0 0 0 0 0 1 1 1 1 0 1 1 1 1 0 0 0 1 0 1 0 1 0
 1 0 1 1 1 1 0 1 1 1 0 1 1 0 0 0 0 0 1 0 1 1 1 0 1 1 1 0 1 0 1 0 1 0 1 1 0
 0 0 0 1 1 1 0 1 1 1 0 1 0 1 1 0 1 0 1 1 1 1 0 0 1 0 0 0 1 1 0 0 1 0 1 1 0
 0 1 0 1 1 0 0 0 1 0 0 1 0 0 0 1 1 0 0 1 1 1 1 1 0 1 0 0 0 0 0 0 1 0 1 1 1
 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 1 0 0 1 0 0 1 1 0 1 1 0 1 1 0 0 0 1 1 0 0
 1 0 1 0 1 1 1 0 0 0 1 0 1 0 1 0 0 1 0 1 0 1 1 1 0 1 1 1 1 0 0 1 1 1 1 1 1
 1 0 0 1 0 0 1 1 1 1 0 1 0 0 0 1 1 1 1 0 1 0 1 1 0 0 1 1 1 0 1 0 0 0 0 1 0
 0 1 1 0 1 1 0 0 0 1 0 1 0 0 1 1 0 0 1 0 1 1 0 1 0 0 1 0 0 0 1 1 1 1 0 1 0
 0 0 1 1 1 1 0 1 1 1 0 1 0 0 0 1 1 1 0 1 1 0 1 0 0 0 0 1 1 1 0 1 1 1 0 1 1
 0 1 0 0 0 1 0 0 0 1 1 0 1 0 1 1 1 1 0 0 0 0 1 0 1 1 0 1 1 0 0 1 1 1 1 0 1
 1 0 0 0 1 0 1 0 1 1 1 0 0 0 1 1 1 1 1 0 0 0 1 0 1 0 1 1 0 1 0 0 0 1 1 0 0
 0 1 0 1 1 0 1 1 1 0 0 1 0 1 0 0 1 1 0 1 1 1 0 1 0 0 0 1 1 1 1 1 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 0 1 0 1 1 1 0 1 1 1 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 1
 0 1 0 0 1 0 1 1 1 1 0 0 1 0 1 0 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 0
 0 0 1 1 1 0 1 1 0 0 0 0 1 1 0 1 1 1 0 0 0 1 1 0 1 0 0 1 0 1 1 0 0 0 1 0 0
 1 1 0 0 0 0 0 0 0 0 0 1 1 0 0 1 0 1 1 1 1 0 1 0 0 1 0 1 1 0 0 1 0 0 1 0 0
 1 1 0 0 1 1 0 1 1 0 0 1 1 1 1 1 0 1 1 0 1 0 1 1 1 1 0 0 1 0 1 1 1 0 1 1 1
 1 0 1 0 1 1 0 1 1 0 0 0 1 1 0 1 0 1 0 0 1 0 1 1 1 0 0 1 0 1 0 1 0 0 1 1 0
 0 0 1 0 1 0 1 1 0 0 0 1 1 1 1 1 0 0 0 0 1 1 1 1 1 0 0 0 0 0 1 0 1 1 1 1 1
 1 1 1 0 1 1 0 1 0 0 1 0 0 0 0 1 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 1 1 1 1 0
 0 1 1 1 0 0 0 1 1 0 1 1 0 1 0 0 0 1 0 0 0 0 0 1 1 0 0 0 1 1 1 1 1 0 0 1 0
 1 0 1 0 0 1 1 0 0 1 1 1 0 0 1 1 0 1 1 1 0 1 0 0 1 0 1 1 0 0 1 1 0 0 0 1 1
 0 1 0 0 1 0 0 1 1 1 0 0 0 1 0 0 1 1 0 1 0 0 1 1 1 1 1 1 0 1 1 1 0 0 0 1 0
 1 1 0 1 1 0 0 1 0 1 1 1 1 0 0 1 0 0 0 1 0 0 1 0 0 1 0 0 1 1 1 1 0 1 0 1 0
 0 1 0 1 0 0 0 0 1 1 0 0 0 0 0 1 0 0 0 0 1 0 1 0 1 0 0 0 0 0 1 1 0 0 1 1 1
 0 0 1 0 0 0 0 1 0 0 0 0 1 1 1 0 1 1 1 1 0 0 0 1 0 1 1 1 1 1 1]
[1 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 1 1 0 0 0 0 0 1 0 0 0 1 0 1 1 0 1 1 0 0 0
 1 0 1 0 1 1 1 0 0 1 1 1 0 1 1 1 0 1 0 1 1 1 1 1 1 0 0 0 1 1 0 1 1 0 0 0 0
 1 1 0 0 1 1 0 1 0 1 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 0 0 1 0 0 1 1 1
 0 1 0 1 0 1 0 0 1 0 1 0 0 0 1 1 1 1 0 1 0 0 1 0 1 0 1 1 1 0 1 0 1 1 1 1 1
 0 1 0 1 0 0 0 1 1 1 1 1 0 0 0 0 1 0 1 0 0 0 1 0 0 0 1 1 0 0 1 1 0 1 1 0 1
 0 0 1 1 0 1 1 0 1 0 1 0 1 1 0 1 0 0 0 0 1 1 0 1 0 0 1 0 1 0 0 0 0 0 1 1 0
 1 1 1 1 0 1 0 0 1 0 0 1 0 0 1 1 0 0 1 1 1 1 1 1 0 0 1 0 1 0 0 0 1 1 1 0 1
 1 0 0 1 1 0 1 0 1 0 1 0 0 0 0 1 0 1 0 1 0 1 1 0 0 0 0 0 0 0 1 0 0 1 0 0 1
 1 0 1 1 0 0 1 1 0 0 1 0 0 1 0 1 1 1 1 1 1 1 1 1 1 0 0 1 0 1 0 1 0 0 1 1 1
 0 0 1 1 0 1 1 0 1 1 0 1 0 0 0 0 1 1 1 1 1 1 0 1 1 0 0 0 1 0 1 0 1 0 0 0 0
 1 0 0 1 0 0 0 0 1 1 0 0 0 1 0 0 1 1 0 1 1 1 0 0 1 0 1 1 1 1 0 1 1 1 1 1 0
 1 1 1 0 0 0 1 1 1 1 1 0 0 1 0 0 1 0 0 0 0 0 1 0 1 1 1 1 1 1 1 1 1 0 1 0 1
 0 1 1 0 0 0 1 1 0 0 1 1 1 1 0 0 1 0 0 1 0 1 0 1 1 0 1 0 1 1 1 0 1 1 0 0 1
 0 1 0 0 1 1 1 1 1 1 1 0 1 0 1 1 0 0 0 1 1 0 1 0 0 0 0 0 1 0 1 0 0 1 1 0 0
 0 1 0 1 0 0 1 0 1 0 1 0 1 0 1 0 1 1 0 0 1 1 0 1 0 0 1 1 1 0 0 0 1 1 0 0 0
 0 1 1 1 1 1 1 1 1 1 1 0 0 0 1 1 0 0 0 1 0 1 0 0 0 1 1 1 0 1 0 1 1 1 0 1 1
 0 1 1 0 0 0 1 1 0 0 1 1 1 1 1 1 0 0 1 1 1 0 1 0 1 0 1 1 0 0 0 1 1 1 1 1 1
 1 0 0 1 0 1 0 0 1 0 1 0 0 0 1 1 1 0 1 0 0 0 1 0 1 0 0 0 0 1 0 1 0 1 1 0 1
 1 0 1 1 0 1 0 1 0 0 1 0 1 1 1 1 1 0 1 0 0 0 1 0 0 1 0 0 1 1 0 1 0 1 1 0 0
 0 1 0 0 0 0 0 1 0 0 1 1 1 0 0 0 0 1 0 1 0 1 1 0 1 1 1 0 1 1 1 0 0 0 0 1 1
 1 1 1 0 1 1 1 0 0 0 1 1 1 1 1 0 1 0 0 1 1 1 1 0 0 1 1 1 1 0 1 1 0 1 1 0 1
 1 1 1 0 1 0 1 1 1 1 1 0 1 0 1 0 1 0 1 1 1 0 1 1 0 1 1 0 1 1 1 1 1 0 0 0 0
 1 0 1 1 1 1 0 1 1 1 0 1 1 1 1 1 1 1 1 1 0 1 0 1 1 0 1 1 1 1 1 0 0 1 1 1 1
 1 0 1 0 0 1 1 0 0 1 0 0 1 1 1 0 1 1 1 0 1 1 1 1 0 1 1 0 1 1 0 1 0 1 1 1 1
 0 1 1 1 1 1 1 1 1 0 1 1 1 0 0 1 1 1 1 1 0 1 1 1 1 1 1 0 0 0 1 1 1 0 0 0 1
 0 0 1 0 1 1 1 0 1 1 0 0 1 0 0 1 1 0 0 1 1 1 0 1 0 0 1 1 1 1 0 0 1 0 0 1 0
 1 1 1 1 1 0 1 1 0 1 1 1 0 1 1 0 1 0 0 1 0 1 0 1 1 1 1 0 1 1 1 1 1 0 0 1 1
 1 1 1 0 1 0 0 1 0 1 1 0 1 1 0 1 1 0 1 1 1 0 0 1 0 0 1 1 1 1 1 0 0 1 1 1 1
 1 1 0 1 1 1 0 1 0 1 0 1 1 0 0 0 1 0 0 1 1 1 0 1 1 0 0 0 0 1 0 1 0 0 0 1 0
 0 0 1 1 0 0 0 1 0 0 0 1 0 1 1 1 0 1 0 1 1 1 1 1 0 1 1 0 1 1 1 1 0 0 1 1 1
 0 1 0 1 1 1 1 0 0 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1 1 0 0 1 1 1 0 1 0 1 1 1 1
 1 0 1 0 1 1 1 1 0 1 1 1 1 1 0 0 1 1 1 1 1 1 1 0 0 1 0 1 1 1 0 0 1 0 0 1 0
 1 1 1 1 0 1 0 1 1 1 1 0 1 0 1 1 1 1 1 0 0 1 0 1 1 1 1 1 1 1 1 1 1 1 0 1 1
 0 1 1 0 1 0 0 0 0 0 1 1 1 1 1 1 0 1 0 1 1 1 1 1 1 1 0 0 0 1 1 0 0 1 0 1 1
 0 1 0 0 1 1 0 1 1 0 1 0 1 0 1 0 1 1 0 0 0 0 1 1 0 0 1 0 1 1 1 1 1 0 1 1 0
 0 1 1 0 1 1 1 1 1 0 1 0 0 1 1 1 1 1 1 1 0 1 0 0 0 0 0 0 1 1 0 1 1 1 1 0 1
 0 1 1 1 1 1 1 1 1 1 1 0 1 1 0 0 1 1 0 1 0 1 0 1 1 1 1 1 1 1 0 0 0 1 1 1 1
 1 1 1 1 0 1 1 1 1 1 1 0 1 1 0 1 1 1 0 0 0 0 1 1 0 1 1 0 0 1 1]
0.49069148936170215