In [10]:
from sklearn.model_selection import KFold
from sklearn.metrics import f1_score
from IPython.display import display
from sklearn.neural_network import MLPClassifier

In [2]:
# Data manipulation
import pandas as pd
import numpy as np


# Splitting data
from sklearn.model_selection import train_test_split

N_FOLDS = 5
MAX_EVALS = 5

         label
count  11562.0
mean       1.0
std        0.0
min        1.0
25%        1.0
50%        1.0
75%        1.0
max        1.0

        label
count  2000.0
mean      0.0
std       0.0
min       0.0
25%       0.0
50%       0.0
75%       0.0
max       0.0

              label
count  13562.000000
mean       0.852529
std        0.354588
min        0.000000
25%        1.000000
50%        1.000000
75%        1.000000
max        1.000000

In [3]:
from scipy import stats
from scipy import spatial
from gensim.models import KeyedVectors

In [4]:
word2vec = KeyedVectors.load_word2vec_format('../word2vec/W2V_150.txt', binary=False)

In [5]:
print(word2vec['a_dua'])
import random
print(np.random.randn(150))

[-1.096853    0.1238883   1.713642    2.17519    -0.5785002  -2.027245
  0.4998034  -0.7409065  -1.753515   -1.095152    0.7456962   1.484329
  1.235524    1.025137   -0.4033328  -0.9089296  -0.2022127   0.9581299
  0.6957457   1.385916    0.4481485   1.238998    0.1075599   3.29651
  1.315556    0.4587597   2.277924   -1.313732    0.9624746  -0.2428055
 -0.9468833   0.8783497   0.3211554  -0.5890836   0.9027938  -1.178614
 -0.7399899  -1.011717    1.766519   -2.162154    0.9139196  -2.295288
 -1.206698   -2.222441   -1.830276   -0.4457759   1.122905    0.3227312
 -0.03411892 -0.7967375   0.1875879   0.3892174  -0.7192345  -0.5432259
 -0.6546717  -0.7268866   0.5100322   0.9201084   0.2751797   1.194452
  0.5092697  -0.3654743  -1.434594   -1.484043    1.105507    0.02227577
 -1.812047   -1.204937   -3.369251    0.6383803   0.1732161  -0.478294
 -0.5762202   0.1084443  -0.1128882   0.647718   -0.3459211   0.5320156
  0.239954   -2.538636   -0.7471865   1.441165    0.02344817 -0.9431902
 -0.9290502  -0.2563902  -0.8693917   1.940851   -1.530682    1.957523
 -1.530546   -1.511787    0.5474366  -0.2089409  -0.5234768  -0.1799996
  1.064863   -2.664884    1.670628   -0.7478617  -0.6575535   1.213943
 -1.086641    1.377323   -0.9010333   1.781551    0.4546468  -1.298439
  0.2457125   0.4182538   0.2963082  -0.05746119  0.2854225   0.1097825
 -0.755602    0.2591492  -2.905032   -0.7736527  -0.2705938   0.2874171
 -0.1069631  -1.167078   -0.4655133  -0.3728538  -0.3859335   0.6315737
  2.311122   -1.012877   -0.9993168   0.7229702  -0.8519905   0.5989301
  0.6769742  -0.7808703   0.5864074   1.452547    1.311003    1.494834
 -1.308893    0.2967516  -0.4395638   0.3661912  -0.3197052  -0.04039996
  0.610873   -0.8620048   0.3080688   0.6861165   1.05927    -0.06506026]
[-0.02111002 -0.07515411 -0.10571397  0.15140079  0.85125264 -0.0824908
  1.10789869  1.66495636 -0.06368931 -0.14877343 -0.31234711  0.12543073
 -0.45121363 -0.55135838 -1.15689143 -0.89658649  0.6312753  -0.4267543
  1.57083514  0.47787662 -0.21750838 -0.44766068 -0.76758235 -0.80034782
  0.10997501 -0.51461894 -1.74643176 -0.54160942  0.88777366 -0.8323474
 -1.71244362 -0.68866985 -0.25628229 -0.32605466  0.53146999 -0.81999469
 -0.16808886 -1.22018824 -0.63643604 -1.44990109  0.46974912 -0.03393233
  1.02847329 -0.4484596   0.52228052 -0.4901195  -2.17762134  0.52221888
 -0.34586521 -0.13110938 -1.87364115  0.18232739 -0.1865083   0.66108706
 -0.20408454 -0.1478954  -1.79943382  0.07653854  0.65822469 -0.69875847
  1.13313942 -0.52825369  1.44679888  0.38646158 -0.70798933  0.52445446
  0.6222444  -1.87055596 -0.02914464  0.79914739  1.35027568 -0.48310056
 -0.77324743  0.22409534  0.34020678 -0.03130975 -0.927343    0.10385468
 -0.71714852 -0.06539984  0.2509536   0.55834649  0.19423601  1.28090684
 -2.16977676  1.28522864  0.32950637 -0.01675547 -0.75718179 -0.70540026
 -1.11229311  0.36146353 -1.17089482 -1.39190102  0.12189424  0.15168022
 -0.07635484 -2.28554999  0.0226279   0.78853305 -0.18838963 -0.41636144
 -0.62762612 -0.50781989  0.28587865 -0.62352413  1.94186637  0.29275126
  0.45410262  0.32392812 -1.39488206  0.57719591  1.87559248  0.19128949
 -0.00697074  0.422219    0.14779316  0.31082552  0.06207233 -0.85002658
  0.00632008  1.86918594  0.89151917 -1.16416112 -1.79669194 -1.14977687
  1.09954573  0.96026771 -0.02908689 -0.70305605  0.39428452 -1.16160234
 -0.22203679  0.48100928 -1.78839913 -0.40235331  0.11680349  1.7931997
  0.81559581  1.63763123 -1.21618781  3.16530668  0.14837983  0.58645535
 -0.62459486  1.38370682  0.14744887 -1.72827369 -0.36204549  0.53348537]

In [6]:
def get_emb(s):
    if s in word2vec:
        return word2vec[s]
    else:
        # print("not found ", s)
        return np.random.randn(150)

In [129]:
# load test data
p1 = pd.read_table("../datasets/ViCon-400/400_noun_pairs.txt", sep="\t")
p2 = pd.read_table("../datasets/ViCon-400/400_verb_pairs.txt", sep="\t")
p3 = pd.read_table("../datasets/ViCon-400/600_adj_pairs.txt", sep="\t")

test_data = pd.concat([p1, p2, p3])

test_data['label'] = test_data.apply(lambda row: 1 if row['Relation'] == 'ANT' else 0, axis=1)
test_data = test_data.reset_index().drop(columns = ['Relation', 'index'])
display(test_data)
test_features = test_data.copy()

test_features['first_emb'] = test_features.apply(lambda row: get_emb(row['Word1']), axis=1)
test_features['second_emb'] = test_features.apply(lambda row: get_emb(row['Word2']), axis=1)

test_features = test_features[test_features['first_emb'] != "missing"]
test_features = test_features[test_features['second_emb'] != "missing"]

test_features['cos'] = test_features.apply(lambda row: 1 - spatial.distance.cosine(row['first_emb'], row['second_emb']), axis=1)
test_features['norm_of_diff'] = test_features.apply(lambda row: np.linalg.norm(row['first_emb'] - row['second_emb']), axis=1)
test_features['pearson'] = test_features.apply(lambda row: pearson(row['first_emb'], row['second_emb']), axis=1)
test_features['spearman_rank'] = test_features.apply(lambda row: spearman_rank(row['first_emb'], row['second_emb']), axis=1)
test_features['dot_product'] = test_features.apply(lambda row: dot_product(row['first_emb'], row['second_emb']), axis=1)
test_features['euclidean'] = test_features.apply(lambda row: euclidean(row['first_emb'], row['second_emb']), axis=1)
X_test = test_features.drop(columns = ['Word1', 'Word2', 'first_emb', 'second_emb', 'label'])
y_test = np.array(test_features['label'].astype(np.int32)).reshape((-1, ))
X_test

           Word1      Word2  label
0      khoái_lạc    nỗi_đau      1
1        yếu_kém   sức_mạnh      1
2     thanh_danh     ô_nhục      1
3            dây        dọc      0
4        bằng_cớ   chứng_cớ      0
...          ...        ...    ...
1395       ấm_áp   lạnh_lẽo      1
1396         mập      ngẳng      1
1397       chóng        lâu      1
1398        chậm        sớm      1
1399    ngăn_nắp  lung_tung      1

[1400 rows x 3 columns]

/home/huynd107/.local/lib/python3.8/site-packages/pandas/core/ops/array_ops.py:55: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = libops.scalar_compare(x.ravel(), y, op)

           cos  norm_of_diff   pearson  spearman_rank  dot_product  euclidean
0     0.245766     16.834578  0.249734       0.271264    40.296856 -15.834578
1     0.171372     18.374029  0.171366       0.166683    34.760422 -17.374029
2     0.088986     16.266695  0.088963       0.034229    12.025043 -15.266695
3     0.141662     16.180637  0.150397       0.135496    21.552877 -15.180637
4    -0.080396     20.671079 -0.078590      -0.066156   -15.106180 -19.671079
...        ...           ...       ...            ...          ...        ...
1395  0.629572     12.678332  0.628367       0.613533   136.498199 -11.678332
1396  0.085718     17.946848  0.087636       0.099295    14.988758 -16.946848
1397  0.075829     21.526340  0.086772       0.106567    19.005964 -20.526340
1398  0.415295     14.935099  0.414778       0.404510    75.847366 -13.935099
1399  0.306918     17.301355  0.307291       0.313854    66.108177 -16.301355

[1400 rows x 6 columns]

In [127]:

def pearson(e1, e2):
    return stats.pearsonr(e1, e2)[0]

def spearman_rank(e1, e2):
    return stats.spearmanr(e1, e2)[0]

def dot_product(e1, e2):
    return np.dot(e1, e2)

def euclidean(e1, e2):
    return 1 - spatial.distance.euclidean(e1, e2)

In [128]:

# load train data and remove leakage data 

anto = pd.read_table("../antonym-synonym set/Antonym_vietnamese.txt", sep=" ", header=None)
syn = pd.read_table("../antonym-synonym set/Synonym_vietnamese.txt", sep=" ", header=None)
display(anto.tail())
display(syn.tail())
anto["label"] = 1
syn["label"] = 0
data = pd.concat([syn, anto])
data.columns = ["first", "second", "label"]

data = data[~data.set_index(['first','second']).index.isin(test_features.set_index(['Word1','Word2']).index)].reset_index().drop(columns="index")

features = data.copy()
features['first_emb'] = features.apply(lambda row: get_emb(row['first']), axis=1)
features['second_emb'] = features.apply(lambda row: get_emb(row['second']), axis=1)

# features = features[features['first_emb'] != "missing"]
# features = features[features['second_emb'] != "missing"]

display(features)

features['cos'] = features.apply(lambda row: 1 - spatial.distance.cosine(row['first_emb'], row['second_emb']), axis=1)
features['norm_of_diff'] = features.apply(lambda row: np.linalg.norm(row['first_emb'] - row['second_emb']), axis=1)
features['pearson'] = features.apply(lambda row: pearson(row['first_emb'], row['second_emb']), axis=1)
features['spearman_rank'] = features.apply(lambda row: spearman_rank(row['first_emb'], row['second_emb']), axis=1)
features['dot_product'] = features.apply(lambda row: dot_product(row['first_emb'], row['second_emb']), axis=1)
features['euclidean'] = features.apply(lambda row: euclidean(row['first_emb'], row['second_emb']), axis=1)

X = features.drop(columns = ['first', 'second', 'first_emb', 'second_emb', 'label'])
y = np.array(features['label'].astype(np.int32)).reshape((-1, ))

display(X)

             0          1
1995  bẩn_thỉu    sạch_sẽ
1996       bận       rảnh
1997       bận  rảnh_rang
1998       bận   rảnh_rỗi
1999       bận        rỗi

                0           1
11557     yêu_mến     mến_yêu
11558     yêu_quí     yêu_quý
11559  yêu_thương  thương_yêu
11560      yếu_tố   nguyên_tố
11561      yếu_tố     nhân_tố

,first,second,label,first_emb,second_emb
0,a_dua,a_tòng,0,"[-1.096853, 0.1238883, 1.713642, 2.17519, -0.5...","[0.6011140554194087, -0.1911931044046985, -0.2..."
1,a_dua,vào_hùa,0,"[-1.096853, 0.1238883, 1.713642, 2.17519, -0.5...","[-0.1686348, 0.5090736, -0.06419589, 0.2851182..."
2,a_ma_tơ,tài_tử,0,"[1.341330017898778, 0.16737940354598604, 1.276...","[-0.8984336, 0.04499664, -1.577926, -1.10538, ..."
3,a_tòng,vào_hùa,0,"[0.5973666385103038, 0.025187958721216, 0.2023...","[-0.1686348, 0.5090736, -0.06419589, 0.2851182..."
4,à_ơi,ạ_ơi,0,"[1.133512, 0.4620706, -0.5596249, 1.021484, 0....","[0.47468729081244043, 0.9187517231000502, 0.51..."
...,...,...,...,...,...
11599,báo_ân,báo_thù,1,"[0.4099637, 0.02193844, -0.5297902, 0.2062404,...","[-0.8177037, 0.4749404, -1.174358, -0.679406, ..."
11600,bần_tiện,hào_phóng,1,"[2.1775656501717844, -0.23111197563379, 0.6854...","[1.40416, 2.75442, 0.2111574, 0.9635316, 1.135..."
11601,bận,rảnh,1,"[0.3057049, 3.127424, -1.285929, 0.6471007, -0...","[0.0487476, 1.200912, 0.1983149, -1.580838, 0...."
11602,bận,rảnh_rỗi,1,"[0.3057049, 3.127424, -1.285929, 0.6471007, -0...","[0.2521331, 0.4609424, -1.257721, -0.9162588, ..."
11603,bận,rỗi,1,"[0.3057049, 3.127424, -1.285929, 0.6471007, -0...","[-0.2275068, 1.843078, 1.557261, 0.2073326, -0..."

            cos  norm_of_diff   pearson  spearman_rank  dot_product  euclidean
0     -0.054964     19.225831 -0.062426      -0.054845    -9.576167 -18.225831
1      0.288864     14.071492  0.287837       0.272092    34.252293 -13.071491
2     -0.009996     19.493648 -0.009767      -0.004870    -1.876989 -18.493648
3      0.136133     13.599445  0.133301       0.142810    13.705890 -12.599445
4      0.016289     14.712958  0.014039       0.013570     1.481854 -13.712958
...         ...           ...       ...            ...          ...        ...
11599  0.044962     17.528137  0.053884       0.080386     5.950936 -16.528139
11600  0.068547     18.422615  0.068614       0.056794    12.444171 -17.422615
11601  0.471292     18.200443  0.471963       0.438350   146.509811 -17.200443
11602  0.479427     18.138960  0.479693       0.475966   150.581177 -17.138960
11603  0.440044     19.350819  0.439768       0.417891   147.091766 -18.350819

[11604 rows x 6 columns]

In [156]:
from sklearn.linear_model import *
from sklearn.model_selection import KFold, StratifiedKFold, cross_val_score
from sklearn.ensemble import RandomForestClassifier, VotingClassifier

kf = KFold(n_splits=10, shuffle=True)

cnt = 1
'''
clf = MLPClassifier(hidden_layer_sizes=(2, 1), 
                                       solver='adam', 
                                       learning_rate='invscaling', 
                                       learning_rate_init=0.2,
                                      max_iter=1000)
'''
clfs = [LogisticRegression(solver="liblinear", max_iter=10000, class_weight="balanced", random_state=41)] * kf.n_splits               
result = list()

for train_index, test_index in kf.split(X, y):
    print(f'Fold:{cnt}, Train set: {len(train_index)}, Test set:{len(test_index)}')
    
    clfs[cnt - 1].fit(X.iloc[train_index], y[train_index])
    score = f1_score(y[test_index], clfs[cnt - 1].predict(X.iloc[test_index]))
    print(score)
    result.append(score)
    cnt += 1


print("average F1-score: ", np.asarray(result).mean())

Fold:1, Train set: 10443, Test set:1161
0.1420345489443378
Fold:2, Train set: 10443, Test set:1161
0.1879432624113475
Fold:3, Train set: 10443, Test set:1161
0.14366729678638943
Fold:4, Train set: 10443, Test set:1161
0.1436893203883495
Fold:5, Train set: 10444, Test set:1160
0.11385199240986718
Fold:6, Train set: 10444, Test set:1160
0.19646365422396855
Fold:7, Train set: 10444, Test set:1160
0.1780104712041885
Fold:8, Train set: 10444, Test set:1160
0.1660899653979239
Fold:9, Train set: 10444, Test set:1160
0.15306122448979592
Fold:10, Train set: 10444, Test set:1160
0.15384615384615385
average F1-score:  0.15786578901023224

In [154]:
display(X_test)
np.set_printoptions(threshold=10000000)
for i in range(kf.n_splits):
    print(f1_score(y_test, clfs[i].predict(X_test)))
print(y_test)
print(clfs[0].predict(X_test))

           cos  norm_of_diff   pearson  spearman_rank  dot_product  euclidean
0     0.245766     16.834578  0.249734       0.271264    40.296856 -15.834578
1     0.171372     18.374029  0.171366       0.166683    34.760422 -17.374029
2     0.088986     16.266695  0.088963       0.034229    12.025043 -15.266695
3     0.141662     16.180637  0.150397       0.135496    21.552877 -15.180637
4    -0.080396     20.671079 -0.078590      -0.066156   -15.106180 -19.671079
...        ...           ...       ...            ...          ...        ...
1395  0.629572     12.678332  0.628367       0.613533   136.498199 -11.678332
1396  0.085718     17.946848  0.087636       0.099295    14.988758 -16.946848
1397  0.075829     21.526340  0.086772       0.106567    19.005964 -20.526340
1398  0.415295     14.935099  0.414778       0.404510    75.847366 -13.935099
1399  0.306918     17.301355  0.307291       0.313854    66.108177 -16.301355

[1400 rows x 6 columns]

0.6038251366120219
0.6038251366120219
0.6038251366120219
0.6038251366120219
0.6038251366120219
0.6038251366120219
0.6038251366120219
0.6038251366120219
0.6038251366120219
0.6038251366120219
[1 1 1 0 0 1 1 0 0 1 1 0 1 0 0 1 1 1 1 1 1 1 0 0 1 1 1 1 0 1 0 1 0 0 0 1 0
 1 1 0 1 1 1 0 0 1 1 1 1 1 0 0 1 0 1 1 0 0 0 1 0 1 1 1 1 0 0 1 1 1 1 0 0 0
 0 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 1 1 0 1 0 0 0 1 0 0 1 1 1 0 1 0 1 0 0 1
 0 1 1 1 1 0 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 0 0 1 1 1 1 0 0 0
 1 0 1 0 1 1 1 0 1 1 0 0 1 0 1 0 1 0 0 0 1 1 1 1 0 1 0 1 1 1 1 0 1 0 1 0 1
 0 1 1 0 1 1 0 1 0 1 0 1 0 1 1 1 0 1 0 1 1 0 1 0 0 1 0 0 0 1 1 0 0 1 0 1 0
 0 1 1 0 1 0 1 0 0 1 1 0 1 1 0 0 1 0 0 0 1 0 0 0 1 1 1 0 1 1 0 1 1 0 1 0 1
 0 1 1 1 0 1 0 1 0 0 1 1 0 1 1 1 0 1 1 0 1 0 0 1 1 0 0 0 1 1 0 1 0 0 1 1 1
 0 1 0 0 1 0 1 0 1 0 1 0 0 1 0 0 0 0 1 1 0 0 0 0 1 0 1 0 0 0 0 1 0 1 0 1 1
 0 1 1 0 1 0 0 0 1 0 0 0 0 1 0 1 0 0 0 1 0 0 1 1 1 0 1 0 0 1 1 0 1 1 0 0 1
 1 1 0 0 1 1 0 0 0 0 1 0 0 0 0 0 1 1 1 0 0 1 1 0 0 0 0 1 0 1 1 0 0 0 0 1 1
 0 0 0 1 0 0 1 1 0 0 0 0 0 0 1 0 0 1 1 1 0 0 0 0 1 1 1 0 1 1 0 0 0 1 1 0 1
 1 0 0 1 1 0 0 0 0 1 1 1 1 1 0 0 0 0 0 1 1 1 1 0 1 1 1 1 0 0 0 1 0 1 0 1 0
 1 0 1 1 1 1 0 1 1 1 0 1 1 0 0 0 0 0 1 0 1 1 1 0 1 1 1 0 1 0 1 0 1 0 1 1 0
 0 0 0 1 1 1 0 1 1 1 0 1 0 1 1 0 1 0 1 1 1 1 0 0 1 0 0 0 1 1 0 0 1 0 1 1 0
 0 1 0 1 1 0 0 0 1 0 0 1 0 0 0 1 1 0 0 1 1 1 1 1 0 1 0 0 0 0 0 0 1 0 1 1 1
 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 1 0 0 1 0 0 1 1 0 1 1 0 1 1 0 0 0 1 1 0 0
 1 0 1 0 1 1 1 0 0 0 1 0 1 0 1 0 0 1 0 1 0 1 1 1 0 1 1 1 1 0 0 1 1 1 1 1 1
 1 0 0 1 0 0 1 1 1 1 0 1 0 0 0 1 1 1 1 0 1 0 1 1 0 0 1 1 1 0 1 0 0 0 0 1 0
 0 1 1 0 1 1 0 0 0 1 0 1 0 0 1 1 0 0 1 0 1 1 0 1 0 0 1 0 0 0 1 1 1 1 0 1 0
 0 0 1 1 1 1 0 1 1 1 0 1 0 0 0 1 1 1 0 1 1 0 1 0 0 0 0 1 1 1 0 1 1 1 0 1 1
 0 1 0 0 0 1 0 0 0 1 1 0 1 0 1 1 1 1 0 0 0 0 1 0 1 1 0 1 1 0 0 1 1 1 1 0 1
 1 0 0 0 1 0 1 0 1 1 1 0 0 0 1 1 1 1 1 0 0 0 1 0 1 0 1 1 0 1 0 0 0 1 1 0 0
 0 1 0 1 1 0 1 1 1 0 0 1 0 1 0 0 1 1 0 1 1 1 0 1 0 0 0 1 1 1 1 1 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 0 1 0 1 1 1 0 1 1 1 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 1
 0 1 0 0 1 0 1 1 1 1 0 0 1 0 1 0 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 0
 0 0 1 1 1 0 1 1 0 0 0 0 1 1 0 1 1 1 0 0 0 1 1 0 1 0 0 1 0 1 1 0 0 0 1 0 0
 1 1 0 0 0 0 0 0 0 0 0 1 1 0 0 1 0 1 1 1 1 0 1 0 0 1 0 1 1 0 0 1 0 0 1 0 0
 1 1 0 0 1 1 0 1 1 0 0 1 1 1 1 1 0 1 1 0 1 0 1 1 1 1 0 0 1 0 1 1 1 0 1 1 1
 1 0 1 0 1 1 0 1 1 0 0 0 1 1 0 1 0 1 0 0 1 0 1 1 1 0 0 1 0 1 0 1 0 0 1 1 0
 0 0 1 0 1 0 1 1 0 0 0 1 1 1 1 1 0 0 0 0 1 1 1 1 1 0 0 0 0 0 1 0 1 1 1 1 1
 1 1 1 0 1 1 0 1 0 0 1 0 0 0 0 1 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 1 1 1 1 0
 0 1 1 1 0 0 0 1 1 0 1 1 0 1 0 0 0 1 0 0 0 0 0 1 1 0 0 0 1 1 1 1 1 0 0 1 0
 1 0 1 0 0 1 1 0 0 1 1 1 0 0 1 1 0 1 1 1 0 1 0 0 1 0 1 1 0 0 1 1 0 0 0 1 1
 0 1 0 0 1 0 0 1 1 1 0 0 0 1 0 0 1 1 0 1 0 0 1 1 1 1 1 1 0 1 1 1 0 0 0 1 0
 1 1 0 1 1 0 0 1 0 1 1 1 1 0 0 1 0 0 0 1 0 0 1 0 0 1 0 0 1 1 1 1 0 1 0 1 0
 0 1 0 1 0 0 0 0 1 1 0 0 0 0 0 1 0 0 0 0 1 0 1 0 1 0 0 0 0 0 1 1 0 0 1 1 1
 0 0 1 0 0 0 0 1 0 0 0 0 1 1 1 0 1 1 1 1 0 0 0 1 0 1 1 1 1 1 1]
[1 1 0 0 1 0 1 0 1 0 1 0 0 1 0 1 0 0 0 0 1 1 1 0 1 0 0 0 0 1 1 1 0 1 0 0 0
 1 0 0 1 1 0 0 0 0 0 1 1 0 1 1 1 0 1 1 1 1 1 0 0 0 1 0 0 0 1 1 0 1 1 1 0 1
 1 0 1 0 0 1 1 1 1 1 1 1 0 0 0 1 0 0 1 1 0 0 1 0 1 0 0 0 0 0 0 0 1 1 1 0 0
 0 1 0 0 1 1 1 1 1 0 1 0 0 0 0 0 1 1 0 1 0 1 0 0 1 0 1 1 1 0 1 0 0 0 0 1 1
 1 1 1 1 1 0 1 0 0 1 0 0 0 1 1 1 1 1 1 0 0 0 0 0 0 1 1 1 1 0 0 0 1 0 0 1 1
 1 1 1 0 0 0 0 0 1 1 0 1 1 0 1 1 0 0 0 0 0 0 0 1 1 0 0 1 0 1 0 1 0 0 0 0 0
 1 0 0 1 1 1 0 1 0 0 1 1 1 0 1 0 0 0 0 1 0 0 1 1 1 1 0 1 0 0 0 1 0 1 1 1 0
 0 0 0 1 0 1 1 0 1 0 0 0 1 0 1 1 0 0 1 0 0 1 1 1 1 0 0 1 1 1 0 0 0 0 1 1 1
 0 1 1 0 0 1 1 0 0 0 0 1 1 0 0 0 1 0 1 0 0 1 0 0 1 0 0 1 1 0 0 0 1 1 0 0 0
 0 0 0 1 0 0 0 0 1 0 1 0 1 1 1 0 0 0 0 0 1 1 0 0 0 0 1 0 0 0 0 1 0 0 1 1 0
 1 0 1 1 0 0 1 0 0 0 1 1 1 0 1 1 1 0 1 0 0 0 0 1 1 0 1 0 1 0 1 1 1 0 1 0 1
 0 1 1 1 0 0 1 1 1 0 1 1 0 0 1 1 0 0 1 1 1 1 0 1 1 1 1 1 1 1 0 1 1 1 1 0 0
 1 1 1 1 1 1 1 1 0 1 1 1 1 0 0 0 0 1 1 1 1 0 1 0 1 1 1 0 1 0 0 1 0 1 1 0 1
 0 1 1 1 0 1 0 1 1 1 0 1 1 1 1 0 1 0 1 1 1 1 1 1 1 1 1 0 1 0 1 1 1 0 1 1 0
 1 1 0 0 1 1 1 1 1 0 1 1 1 1 1 0 1 1 1 1 1 1 1 0 1 0 1 1 1 1 0 1 1 0 1 1 0
 1 0 1 1 1 1 0 1 1 1 1 0 0 1 0 1 1 0 0 1 0 1 0 0 1 1 0 1 1 1 1 1 1 0 1 0 1
 0 0 1 1 1 0 1 0 1 1 1 0 1 1 0 0 0 1 1 1 0 0 1 1 0 1 0 1 1 1 0 1 1 0 1 1 0
 1 1 1 1 1 1 1 1 0 1 1 0 1 0 1 1 0 1 1 1 0 0 0 1 1 1 0 0 1 1 1 1 1 0 0 1 1
 1 0 0 1 0 0 1 1 1 1 1 1 1 0 1 1 1 1 1 0 1 1 1 1 0 0 1 0 1 0 0 0 0 0 0 0 1
 0 0 1 0 1 1 1 0 1 1 0 1 1 0 1 1 1 1 1 1 1 1 0 1 0 0 1 1 1 1 0 1 0 1 1 1 0
 1 0 1 1 1 1 0 1 1 0 1 1 0 0 0 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1
 1 1 1 1 1 1 1 0 0 1 1 1 0 0 1 0 1 0 0 1 1 1 0 0 1 1 1 0 0 0 1 1 1 0 1 1 1
 1 1 1 0 1 1 1 1 0 1 1 0 1 0 1 1 0 1 1 0 0 0 1 0 1 0 0 1 1 1 1 1 1 1 1 0 0
 0 1 1 1 1 0 1 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 1 0 0 0 0 1 1 1 1 1 0 0 0 0
 0 0 0 1 1 1 1 0 0 1 1 0 0 1 0 0 0 1 1 0 0 1 0 0 0 1 1 0 1 0 0 0 0 0 0 0 1
 0 1 0 1 1 1 1 0 0 1 1 0 1 1 1 0 0 0 1 0 0 0 1 0 0 1 1 0 1 1 1 0 0 0 1 1 0
 0 0 1 1 0 1 0 1 0 0 1 1 1 1 0 1 1 1 1 1 1 1 0 0 1 0 1 0 1 1 1 1 0 0 0 1 1
 1 1 0 0 0 1 0 0 0 0 0 0 1 1 0 1 0 0 0 1 1 0 1 0 0 1 1 1 1 0 0 1 0 0 0 1 0
 1 0 0 1 0 0 1 1 1 1 0 1 1 1 1 1 0 1 1 1 0 0 0 1 1 1 1 0 1 1 0 1 1 0 0 0 0
 0 0 1 0 1 1 0 1 1 0 0 0 1 0 1 1 0 1 1 1 1 1 1 1 1 0 0 1 0 0 1 1 1 1 0 1 1
 0 0 1 1 1 1 0 1 0 1 0 0 0 1 1 1 0 1 1 0 1 0 1 1 1 0 1 1 1 0 0 0 1 1 0 1 1
 1 1 0 1 0 0 0 1 0 1 1 0 0 1 0 1 1 0 0 0 0 1 0 1 1 0 0 0 1 1 1 1 1 1 1 1 1
 0 1 0 0 0 0 0 0 1 0 1 0 1 1 1 1 1 0 0 0 1 0 0 0 1 0 1 1 1 1 0 0 1 0 1 0 0
 1 1 1 0 1 0 0 1 1 0 1 0 0 1 0 0 0 1 1 0 0 0 0 0 1 0 1 1 0 0 0 0 0 0 1 1 1
 0 1 0 0 1 0 1 1 0 1 1 1 1 1 0 0 1 1 0 0 1 0 1 1 1 1 1 0 1 1 0 0 0 1 1 1 1
 0 1 0 0 1 0 1 0 0 0 1 1 1 1 0 0 0 0 0 0 1 0 0 0 1 0 0 0 1 0 1 1 1 1 0 1 0
 1 0 0 1 1 0 1 1 1 1 0 0 1 1 0 0 0 1 0 1 0 1 0 1 0 0 0 1 1 1 1 1 0 0 1 0 1
 1 0 1 0 0 1 0 1 0 0 0 0 1 1 1 1 0 0 1 0 0 0 0 0 0 1 0 1 1 1 1]