In [193]:
from sklearn.model_selection import KFold
from sklearn.metrics import f1_score
from IPython.display import display
from sklearn.neural_network import MLPClassifier

In [194]:
# Data manipulation
import pandas as pd
import numpy as np


# Splitting data
from sklearn.model_selection import train_test_split

N_FOLDS = 5
MAX_EVALS = 5

In [195]:
from scipy import stats
from scipy import spatial
from gensim.models import KeyedVectors

In [223]:
word2vec = KeyedVectors.load_word2vec_format('../word2vec/W2V_150.txt', binary=False)      
#test embedding
print(word2vec['a_dua'])
import random
print(np.random.randn(150))

[-1.096853    0.1238883   1.713642    2.17519    -0.5785002  -2.027245
  0.4998034  -0.7409065  -1.753515   -1.095152    0.7456962   1.484329
  1.235524    1.025137   -0.4033328  -0.9089296  -0.2022127   0.9581299
  0.6957457   1.385916    0.4481485   1.238998    0.1075599   3.29651
  1.315556    0.4587597   2.277924   -1.313732    0.9624746  -0.2428055
 -0.9468833   0.8783497   0.3211554  -0.5890836   0.9027938  -1.178614
 -0.7399899  -1.011717    1.766519   -2.162154    0.9139196  -2.295288
 -1.206698   -2.222441   -1.830276   -0.4457759   1.122905    0.3227312
 -0.03411892 -0.7967375   0.1875879   0.3892174  -0.7192345  -0.5432259
 -0.6546717  -0.7268866   0.5100322   0.9201084   0.2751797   1.194452
  0.5092697  -0.3654743  -1.434594   -1.484043    1.105507    0.02227577
 -1.812047   -1.204937   -3.369251    0.6383803   0.1732161  -0.478294
 -0.5762202   0.1084443  -0.1128882   0.647718   -0.3459211   0.5320156
  0.239954   -2.538636   -0.7471865   1.441165    0.02344817 -0.9431902
 -0.9290502  -0.2563902  -0.8693917   1.940851   -1.530682    1.957523
 -1.530546   -1.511787    0.5474366  -0.2089409  -0.5234768  -0.1799996
  1.064863   -2.664884    1.670628   -0.7478617  -0.6575535   1.213943
 -1.086641    1.377323   -0.9010333   1.781551    0.4546468  -1.298439
  0.2457125   0.4182538   0.2963082  -0.05746119  0.2854225   0.1097825
 -0.755602    0.2591492  -2.905032   -0.7736527  -0.2705938   0.2874171
 -0.1069631  -1.167078   -0.4655133  -0.3728538  -0.3859335   0.6315737
  2.311122   -1.012877   -0.9993168   0.7229702  -0.8519905   0.5989301
  0.6769742  -0.7808703   0.5864074   1.452547    1.311003    1.494834
 -1.308893    0.2967516  -0.4395638   0.3661912  -0.3197052  -0.04039996
  0.610873   -0.8620048   0.3080688   0.6861165   1.05927    -0.06506026]
[ 0.31113532 -0.80368558  0.6242545  -0.46559951  1.41687952 -0.26844819
 -0.13824722 -0.46487364  2.11280239  0.3709649  -0.10296427 -0.5038555
 -0.26455643  0.76568636  0.6955007   0.39159677  1.24741368  0.89805505
 -1.47157835 -0.98987692  0.27935505  0.69360458 -0.41772887 -1.57943654
 -2.65980382  0.61162176 -0.46508019  0.23821745  0.24574223  1.84580491
 -0.06206285  0.12673374  1.65579032  1.27856384 -1.75115175  2.28374894
  0.28037391  1.86073008  0.09354229 -0.29510926 -0.73351135  0.27067146
  0.81360833 -0.6708644   0.38064823 -1.74089276  0.25037534  1.38927692
  2.4360829   0.8935665  -0.41275729 -1.76601984  0.25069807  1.07910856
  1.619386    0.29732692  0.92865101  1.07962596 -0.381658    0.00706679
  0.77216646  0.35545315 -0.4646252  -0.36030039  0.41634585 -0.49460972
  0.16828959  0.5159002  -2.38034269  0.33530579 -1.21897697  2.1021001
  1.89780054  1.43810614  1.08240625  1.21187652 -1.38891839  0.16125045
  1.63280391 -0.05698429  0.55897326  0.13532954  0.71648259  0.97687987
  0.00463101 -0.28901912 -0.75070643  2.09567727 -0.17793629 -0.34791773
 -0.38016035 -0.25196085  0.04207195 -0.7511732  -1.10305759  0.54593921
  0.35777353  1.41943359 -0.14050348 -1.96841792 -0.26500733 -1.93710372
  0.89470337  0.3966793   0.69936746  0.67562061 -1.77351673  0.36454156
 -0.35517916  0.781179    1.73680949  0.52340617  0.20870927 -1.42732585
 -0.04259334  1.24831357  2.20135307 -0.67717153 -0.83875234 -1.17198578
 -0.14542214 -0.25250507 -1.64562903  0.4078326   0.16747084 -2.49068845
 -1.27596572  0.43310772 -0.35172294 -0.73560322 -0.36173229 -1.20370135
 -0.77507565 -1.07459947 -0.21352316  0.69910336  0.99886015  0.67423154
 -0.19404526 -1.77274287  0.8289648   2.08470268  1.42399369 -0.14546359
 -0.01524318  2.10744897 -1.62203957 -0.94429942  1.19657832 -1.65340616]

In [215]:
class EmbGetter:
    def __init__(self, model):
        self.model = model
        self.emb_dim = model["a_dua"].shape[0]
    def get(self, s):
        if s in model:
            return model[s]
        else:
            return np.random.randn(self.emb_dim)
    def contains(self, s):
        return s in self.model
    
emb_getter = EmbGetter(word2vec)

In [217]:
def pearson(e1, e2):
    return stats.pearsonr(e1, e2)[0]

def spearman_rank(e1, e2):
    return stats.spearmanr(e1, e2)[0]

def dot_product(e1, e2):
    return np.dot(e1, e2)

def euclidean(e1, e2):
    return 1 - spatial.distance.euclidean(e1, e2)

def make_feature(input_table):
    features = input_table.copy()
    features['first_emb'] = features.apply(lambda row: get_emb(row['Word1']), axis=1)
    features['second_emb'] = features.apply(lambda row: get_emb(row['Word2']), axis=1)
    features['cos'] = features.apply(lambda row: 1 - spatial.distance.cosine(row['first_emb'], row['second_emb']), axis=1)
    features['norm_of_diff'] = features.apply(lambda row: np.linalg.norm(row['first_emb'] - row['second_emb']), axis=1)
    features['pearson'] = features.apply(lambda row: pearson(row['first_emb'], row['second_emb']), axis=1)
    features['spearman_rank'] = features.apply(lambda row: spearman_rank(row['first_emb'], row['second_emb']), axis=1)
    features['dot_product'] = features.apply(lambda row: dot_product(row['first_emb'], row['second_emb']), axis=1)
    features['euclidean'] = features.apply(lambda row: euclidean(row['first_emb'], row['second_emb']), axis=1)
    features['emb_miss'] = features.apply(lambda row: 0 if (emb_getter.contains(row['Word1']) and emb_getter.contains(row['Word2'])) else 1, axis=1)
    return features.drop(columns=["Word1", "Word2", "first_emb", "second_emb", "label"])

In [218]:
# load test data
p1 = pd.read_table("../datasets/ViCon-400/400_noun_pairs.txt", sep="\t")
p2 = pd.read_table("../datasets/ViCon-400/400_verb_pairs.txt", sep="\t")
p3 = pd.read_table("../datasets/ViCon-400/600_adj_pairs.txt", sep="\t")

test_data = pd.concat([p1, p2, p3])

test_data['label'] = test_data.apply(lambda row: 1 if row['Relation'] == 'ANT' else 0, axis=1)
test_data = test_data.reset_index().drop(columns = ['Relation', 'index'])
display(test_data)
X_test = make_feature(test_data)
y_test = np.array(test_features['label'].astype(np.int32)).reshape((-1, ))
X_test

           Word1      Word2  label
0      khoái_lạc    nỗi_đau      1
1        yếu_kém   sức_mạnh      1
2     thanh_danh     ô_nhục      1
3            dây        dọc      0
4        bằng_cớ   chứng_cớ      0
...          ...        ...    ...
1395       ấm_áp   lạnh_lẽo      1
1396         mập      ngẳng      1
1397       chóng        lâu      1
1398        chậm        sớm      1
1399    ngăn_nắp  lung_tung      1

[1400 rows x 3 columns]

,cos,norm_of_diff,pearson,spearman_rank,dot_product,euclidean,emb_miss
0,0.245766,16.834578,0.249734,0.271264,40.296856,-15.834578,0
1,0.171372,18.374029,0.171366,0.166683,34.760422,-17.374029,0
2,0.088986,16.266695,0.088963,0.034229,12.025043,-15.266695,0
3,0.141662,16.180637,0.150397,0.135496,21.552877,-15.180637,0
4,0.076451,19.385373,0.076103,0.052541,14.802597,-18.385373,1
...,...,...,...,...,...,...,...
1395,0.629572,12.678332,0.628367,0.613533,136.498199,-11.678332,0
1396,0.076013,18.385036,0.076295,0.025560,13.862581,-17.385036,1
1397,0.075829,21.526340,0.086772,0.106567,19.005964,-20.526340,0
1398,0.415295,14.935099,0.414778,0.404510,75.847366,-13.935099,0
1399,0.306918,17.301355,0.307291,0.313854,66.108177,-16.301355,0

In [219]:

#load train data
anto = pd.read_table("../antonym-synonym set/Antonym_vietnamese.txt", sep=" ", header=None)
syn = pd.read_table("../antonym-synonym set/Synonym_vietnamese.txt", sep=" ", header=None)
display(anto.tail())
display(syn.tail())
anto["label"] = 1
syn["label"] = 0
data = pd.concat([syn, anto])
data.columns = ["Word1", "Word2", "label"]

# REMOVE LEAKAGE DATA
data = data[~data.set_index(['Word1','Word2']).index.isin(test_features.set_index(['Word1','Word2']).index)].reset_index().drop(columns="index")

X = make_feature(data)
y = np.array(features['label'].astype(np.int32)).reshape((-1, ))

display(X)

             0          1
1995  bẩn_thỉu    sạch_sẽ
1996       bận       rảnh
1997       bận  rảnh_rang
1998       bận   rảnh_rỗi
1999       bận        rỗi

                0           1
11557     yêu_mến     mến_yêu
11558     yêu_quí     yêu_quý
11559  yêu_thương  thương_yêu
11560      yếu_tố   nguyên_tố
11561      yếu_tố     nhân_tố

,cos,norm_of_diff,pearson,spearman_rank,dot_product,euclidean,emb_miss
0,-0.075728,19.174770,-0.074667,-0.039776,-12.831591,-18.174770,1
1,0.288864,14.071492,0.287837,0.272092,34.252293,-13.071491,0
2,-0.090014,19.796116,-0.091099,-0.097389,-16.090072,-18.796116,1
3,-0.104631,16.376418,-0.103935,-0.094619,-11.692224,-15.376418,1
4,-0.043588,14.114658,-0.044580,-0.027192,-3.632871,-13.114658,1
...,...,...,...,...,...,...,...
11599,0.044962,17.528137,0.053884,0.080386,5.950936,-16.528139,0
11600,-0.125394,19.641232,-0.125768,-0.123001,-21.283649,-18.641232,1
11601,0.471292,18.200443,0.471963,0.438350,146.509811,-17.200443,0
11602,0.479427,18.138960,0.479693,0.475966,150.581177,-17.138960,0
11603,0.440044,19.350819,0.439768,0.417891,147.091766,-18.350819,0

In [220]:
from sklearn.linear_model import *
from sklearn.model_selection import KFold, StratifiedKFold, cross_val_score
from sklearn.ensemble import RandomForestClassifier, VotingClassifier
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
import random 

kf = KFold(n_splits=10, shuffle=True)

cnt = 1
'''
clf = MLPClassifier(hidden_layer_sizes=(2, 1), 
                                       solver='adam', 
                                       learning_rate='invscaling', 
                                       learning_rate_init=0.2,
                                      max_iter=1000)
'''
clfs = [make_pipeline(StandardScaler(), LogisticRegression(solver="liblinear", max_iter=10000, class_weight="balanced",random_state=random.randint(0, 10000)))] * kf.n_splits               
result = list()

for train_index, test_index in kf.split(X, y):
    print(f'Fold:{cnt}, Train set: {len(train_index)}, Test set:{len(test_index)}')
    
    clfs[cnt - 1].fit(X.iloc[train_index], y[train_index])
    score = f1_score(y[test_index], clfs[cnt - 1].predict(X.iloc[test_index]))
    print(score)
    result.append(score)
    cnt += 1


print("average F1-score: ", np.asarray(result).mean())

Fold:1, Train set: 10443, Test set:1161
0.21834061135371177
Fold:2, Train set: 10443, Test set:1161
0.19861431870669746
Fold:3, Train set: 10443, Test set:1161
0.2057416267942584
Fold:4, Train set: 10443, Test set:1161
0.1963470319634703
Fold:5, Train set: 10444, Test set:1160
0.253968253968254
Fold:6, Train set: 10444, Test set:1160
0.23927765237020313
Fold:7, Train set: 10444, Test set:1160
0.17864923747276687
Fold:8, Train set: 10444, Test set:1160
0.18666666666666665
Fold:9, Train set: 10444, Test set:1160
0.21350762527233114
Fold:10, Train set: 10444, Test set:1160
0.24279835390946503
average F1-score:  0.21339113784778246

In [221]:
display(X_test)
np.set_printoptions(threshold=10000000)
for i in range(kf.n_splits):
    print(f1_score(y_test, clfs[i].predict(X_test)))
print(y_test)
print(clfs[0].predict(X_test))

,cos,norm_of_diff,pearson,spearman_rank,dot_product,euclidean,emb_miss
0,0.245766,16.834578,0.249734,0.271264,40.296856,-15.834578,0
1,0.171372,18.374029,0.171366,0.166683,34.760422,-17.374029,0
2,0.088986,16.266695,0.088963,0.034229,12.025043,-15.266695,0
3,0.141662,16.180637,0.150397,0.135496,21.552877,-15.180637,0
4,0.076451,19.385373,0.076103,0.052541,14.802597,-18.385373,1
...,...,...,...,...,...,...,...
1395,0.629572,12.678332,0.628367,0.613533,136.498199,-11.678332,0
1396,0.076013,18.385036,0.076295,0.025560,13.862581,-17.385036,1
1397,0.075829,21.526340,0.086772,0.106567,19.005964,-20.526340,0
1398,0.415295,14.935099,0.414778,0.404510,75.847366,-13.935099,0
1399,0.306918,17.301355,0.307291,0.313854,66.108177,-16.301355,0

0.720616570327553
0.720616570327553
0.720616570327553
0.720616570327553
0.720616570327553
0.720616570327553
0.720616570327553
0.720616570327553
0.720616570327553
0.720616570327553
[1 1 1 0 0 1 1 0 0 1 1 0 1 0 0 1 1 1 1 1 1 1 0 0 1 1 1 1 0 1 0 1 0 0 0 1 0
 1 1 0 1 1 1 0 0 1 1 1 1 1 0 0 1 0 1 1 0 0 0 1 0 1 1 1 1 0 0 1 1 1 1 0 0 0
 0 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 1 1 0 1 0 0 0 1 0 0 1 1 1 0 1 0 1 0 0 1
 0 1 1 1 1 0 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 0 0 1 1 1 1 0 0 0
 1 0 1 0 1 1 1 0 1 1 0 0 1 0 1 0 1 0 0 0 1 1 1 1 0 1 0 1 1 1 1 0 1 0 1 0 1
 0 1 1 0 1 1 0 1 0 1 0 1 0 1 1 1 0 1 0 1 1 0 1 0 0 1 0 0 0 1 1 0 0 1 0 1 0
 0 1 1 0 1 0 1 0 0 1 1 0 1 1 0 0 1 0 0 0 1 0 0 0 1 1 1 0 1 1 0 1 1 0 1 0 1
 0 1 1 1 0 1 0 1 0 0 1 1 0 1 1 1 0 1 1 0 1 0 0 1 1 0 0 0 1 1 0 1 0 0 1 1 1
 0 1 0 0 1 0 1 0 1 0 1 0 0 1 0 0 0 0 1 1 0 0 0 0 1 0 1 0 0 0 0 1 0 1 0 1 1
 0 1 1 0 1 0 0 0 1 0 0 0 0 1 0 1 0 0 0 1 0 0 1 1 1 0 1 0 0 1 1 0 1 1 0 0 1
 1 1 0 0 1 1 0 0 0 0 1 0 0 0 0 0 1 1 1 0 0 1 1 0 0 0 0 1 0 1 1 0 0 0 0 1 1
 0 0 0 1 0 0 1 1 0 0 0 0 0 0 1 0 0 1 1 1 0 0 0 0 1 1 1 0 1 1 0 0 0 1 1 0 1
 1 0 0 1 1 0 0 0 0 1 1 1 1 1 0 0 0 0 0 1 1 1 1 0 1 1 1 1 0 0 0 1 0 1 0 1 0
 1 0 1 1 1 1 0 1 1 1 0 1 1 0 0 0 0 0 1 0 1 1 1 0 1 1 1 0 1 0 1 0 1 0 1 1 0
 0 0 0 1 1 1 0 1 1 1 0 1 0 1 1 0 1 0 1 1 1 1 0 0 1 0 0 0 1 1 0 0 1 0 1 1 0
 0 1 0 1 1 0 0 0 1 0 0 1 0 0 0 1 1 0 0 1 1 1 1 1 0 1 0 0 0 0 0 0 1 0 1 1 1
 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 1 0 0 1 0 0 1 1 0 1 1 0 1 1 0 0 0 1 1 0 0
 1 0 1 0 1 1 1 0 0 0 1 0 1 0 1 0 0 1 0 1 0 1 1 1 0 1 1 1 1 0 0 1 1 1 1 1 1
 1 0 0 1 0 0 1 1 1 1 0 1 0 0 0 1 1 1 1 0 1 0 1 1 0 0 1 1 1 0 1 0 0 0 0 1 0
 0 1 1 0 1 1 0 0 0 1 0 1 0 0 1 1 0 0 1 0 1 1 0 1 0 0 1 0 0 0 1 1 1 1 0 1 0
 0 0 1 1 1 1 0 1 1 1 0 1 0 0 0 1 1 1 0 1 1 0 1 0 0 0 0 1 1 1 0 1 1 1 0 1 1
 0 1 0 0 0 1 0 0 0 1 1 0 1 0 1 1 1 1 0 0 0 0 1 0 1 1 0 1 1 0 0 1 1 1 1 0 1
 1 0 0 0 1 0 1 0 1 1 1 0 0 0 1 1 1 1 1 0 0 0 1 0 1 0 1 1 0 1 0 0 0 1 1 0 0
 0 1 0 1 1 0 1 1 1 0 0 1 0 1 0 0 1 1 0 1 1 1 0 1 0 0 0 1 1 1 1 1 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 0 1 0 1 1 1 0 1 1 1 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 1
 0 1 0 0 1 0 1 1 1 1 0 0 1 0 1 0 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 0
 0 0 1 1 1 0 1 1 0 0 0 0 1 1 0 1 1 1 0 0 0 1 1 0 1 0 0 1 0 1 1 0 0 0 1 0 0
 1 1 0 0 0 0 0 0 0 0 0 1 1 0 0 1 0 1 1 1 1 0 1 0 0 1 0 1 1 0 0 1 0 0 1 0 0
 1 1 0 0 1 1 0 1 1 0 0 1 1 1 1 1 0 1 1 0 1 0 1 1 1 1 0 0 1 0 1 1 1 0 1 1 1
 1 0 1 0 1 1 0 1 1 0 0 0 1 1 0 1 0 1 0 0 1 0 1 1 1 0 0 1 0 1 0 1 0 0 1 1 0
 0 0 1 0 1 0 1 1 0 0 0 1 1 1 1 1 0 0 0 0 1 1 1 1 1 0 0 0 0 0 1 0 1 1 1 1 1
 1 1 1 0 1 1 0 1 0 0 1 0 0 0 0 1 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 1 1 1 1 0
 0 1 1 1 0 0 0 1 1 0 1 1 0 1 0 0 0 1 0 0 0 0 0 1 1 0 0 0 1 1 1 1 1 0 0 1 0
 1 0 1 0 0 1 1 0 0 1 1 1 0 0 1 1 0 1 1 1 0 1 0 0 1 0 1 1 0 0 1 1 0 0 0 1 1
 0 1 0 0 1 0 0 1 1 1 0 0 0 1 0 0 1 1 0 1 0 0 1 1 1 1 1 1 0 1 1 1 0 0 0 1 0
 1 1 0 1 1 0 0 1 0 1 1 1 1 0 0 1 0 0 0 1 0 0 1 0 0 1 0 0 1 1 1 1 0 1 0 1 0
 0 1 0 1 0 0 0 0 1 1 0 0 0 0 0 1 0 0 0 0 1 0 1 0 1 0 0 0 0 0 1 1 0 0 1 1 1
 0 0 1 0 0 0 0 1 0 0 0 0 1 1 1 0 1 1 1 1 0 0 0 1 0 1 1 1 1 1 1]
[1 1 1 1 0 1 1 0 1 1 1 0 1 0 0 1 1 0 0 1 1 1 0 0 1 0 0 1 1 1 0 1 0 1 1 1 0
 1 0 0 0 0 1 0 1 0 0 1 0 1 1 1 1 0 1 1 1 1 1 1 0 0 0 1 1 0 1 1 0 1 1 1 1 0
 1 0 1 0 1 1 1 1 0 1 1 0 1 0 1 1 0 1 1 1 1 0 0 0 1 0 0 0 0 0 1 0 1 0 1 1 1
 1 1 1 0 1 0 1 1 1 0 0 1 0 0 0 0 1 1 0 1 1 0 0 0 1 0 1 1 1 0 1 1 0 1 1 1 1
 1 1 0 1 1 0 1 1 1 1 0 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 0 1 1 0 0 1
 1 1 1 0 0 0 0 1 0 0 0 1 1 1 1 1 0 1 0 1 1 0 0 1 1 1 0 0 0 1 1 1 0 1 0 1 0
 1 1 0 1 1 1 1 1 1 1 1 1 1 0 1 1 1 0 0 0 1 0 1 1 1 1 1 1 1 1 0 1 0 0 1 1 0
 0 1 1 1 0 0 1 1 1 0 0 0 0 1 1 1 0 0 1 0 1 0 1 1 1 0 0 1 1 1 0 1 0 0 1 1 1
 0 1 0 0 1 1 1 0 1 1 0 1 0 1 0 0 0 1 1 1 0 1 0 0 1 0 1 1 0 1 0 0 1 0 0 1 0
 0 1 0 1 1 0 0 0 0 0 1 0 1 1 1 0 0 1 0 0 1 1 1 0 0 0 1 0 0 1 1 1 1 0 1 1 1
 1 1 1 0 0 1 0 1 1 0 1 0 0 0 1 1 1 1 0 0 0 0 0 0 1 1 1 0 1 0 1 1 1 0 0 1 1
 0 1 0 1 0 0 1 1 1 0 1 1 0 0 0 1 0 1 1 1 0 0 0 0 1 0 1 0 1 1 1 1 1 1 1 0 1
 0 1 1 0 1 1 1 1 0 0 1 1 1 0 0 0 0 1 1 1 1 1 1 0 1 1 1 1 1 1 0 1 1 1 0 1 1
 1 1 1 1 0 1 0 1 0 1 0 1 1 1 1 0 0 0 1 1 0 0 1 1 1 1 1 1 1 0 1 1 1 0 1 1 1
 1 1 0 1 1 1 1 1 1 0 0 1 1 1 1 0 1 1 1 1 1 1 1 0 1 0 1 1 1 1 0 1 1 1 1 1 0
 0 0 1 1 1 1 0 1 0 1 1 0 0 1 0 1 1 0 1 1 1 1 1 1 0 1 0 1 1 1 1 1 1 0 1 0 1
 0 0 1 0 1 1 1 0 1 1 1 1 0 1 0 0 1 1 0 1 1 0 1 1 0 1 0 1 1 1 1 1 1 1 1 0 0
 1 1 1 1 0 1 1 0 1 1 1 0 1 0 1 1 0 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 0 1 0 1 1
 1 0 0 1 0 0 0 1 1 1 1 1 0 0 1 1 1 1 1 0 1 1 1 1 0 0 1 1 1 0 1 1 0 0 0 1 0
 0 0 0 0 1 1 0 0 0 1 0 1 1 1 1 1 1 1 1 1 1 1 0 1 0 0 1 0 1 0 0 1 1 1 1 1 0
 1 0 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1 1 0 0 1 0 0 1 0 1 1 1 1 1 0 1 1 1 1 1 1
 1 1 0 0 1 0 0 0 1 1 1 1 1 0 1 1 1 0 0 1 1 0 1 0 1 1 1 1 0 0 0 1 1 1 1 0 1
 1 0 1 1 1 1 1 1 0 0 1 0 1 0 1 1 1 1 1 0 0 0 1 0 0 1 0 0 0 1 1 1 1 0 1 0 0
 0 1 0 1 1 1 0 1 0 0 0 0 0 1 0 0 0 1 1 1 0 1 0 1 0 0 1 1 1 1 0 1 1 0 1 0 0
 0 0 1 1 1 1 0 1 0 1 1 0 0 1 1 0 1 1 1 0 0 1 0 0 0 1 1 1 0 0 0 0 0 1 0 1 1
 0 1 0 0 1 1 1 1 1 1 0 0 1 1 1 1 0 1 1 0 0 0 1 1 1 1 1 0 1 1 1 0 1 1 1 1 0
 0 0 1 1 1 1 0 1 1 0 0 0 1 1 0 1 1 1 0 0 1 1 1 1 1 1 1 1 1 1 1 0 0 0 1 1 1
 1 1 0 0 0 1 0 0 1 0 0 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 1 1 1 1 0 1 0 0 1 0 0
 1 1 1 1 0 1 0 0 1 1 0 1 1 1 1 1 0 1 1 1 0 0 1 1 1 0 1 0 1 1 0 1 1 0 1 0 1
 1 0 1 0 1 1 0 1 0 0 0 0 1 0 1 1 0 1 1 1 0 1 1 1 1 0 0 1 0 1 0 1 0 0 1 1 0
 0 0 1 1 1 1 1 1 0 1 0 1 1 1 1 1 0 1 1 0 1 0 1 1 1 0 1 0 0 0 0 0 1 1 1 1 1
 1 1 0 1 1 1 0 1 0 1 1 0 0 1 0 1 1 1 0 0 0 1 0 1 1 0 1 0 1 1 0 0 1 0 1 1 1
 0 1 0 0 0 0 0 1 1 0 1 1 0 1 1 1 0 0 0 0 0 0 0 1 1 0 1 1 1 1 0 0 0 0 0 0 0
 1 1 1 1 1 1 1 1 0 0 1 1 1 1 0 0 0 1 1 1 0 1 0 0 1 0 1 1 0 0 1 1 0 0 1 1 1
 1 1 0 0 1 0 0 1 1 1 1 0 1 1 0 0 1 1 0 1 1 0 1 1 1 1 1 1 1 1 1 1 0 1 1 1 0
 1 1 1 0 1 0 1 1 1 0 1 0 1 1 0 1 0 0 0 1 0 0 1 0 0 1 0 0 1 1 1 1 1 1 1 1 0
 1 0 0 1 0 1 1 1 1 1 0 0 1 1 0 0 0 0 0 0 1 1 1 1 1 0 1 0 1 1 1 1 0 0 1 1 1
 0 0 1 0 0 0 0 1 0 0 0 0 1 0 1 1 1 0 0 0 0 0 0 0 1 1 0 0 1 1 1]